html{
  box-sizing: border-box;
  font-size:16px;
  font-family: sans-serif;
}

*,
*::after,
*::after{
  box-sizing: border-box;
}

hr{
  margin:2rem auto;
}
li{
margin:0.5rem;
}
a{
  margin-right: 1rem;
  text-decoration: none;
}
.active{
  border-bottom:1px solid red;
  padding:.5rem;

}